body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.promocao{
    color: #ffffff;
   border-top: 1px #000 solid;
}

.bannerMemoria{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap; /* Para os cards se ajustarem em telas menores */
}

.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    margin: 15px;
    display: flex;
    flex-direction: column; /* Para o conteúdo ficar vertical */
    justify-content: space-between; /* Para o botão ficar no final */
    min-height: 400px; /* Define uma altura mínima para os cards */
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.preco-riscado {
    text-decoration: line-through;
    color: red;
}

.preco-atual {
    font-size: 1.5em;
    font-weight: bold;
    color: green;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cards ficam em uma coluna */
        align-items: center;
    }

    .card {
        width: 100%; /* Cards ocupam 100% da largura em telas pequenas */
        margin: 10px 0;
    }
}



.footerLoja{
    background: #000;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MODAL */
/* Estilos gerais para o modal */
.modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
    padding: 10px; /* Adiciona um pequeno padding nas laterais */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px; /* Largura máxima para telas maiores */
    width: 100%; /* Ocupa toda a largura disponível */
    box-sizing: border-box; /* Garante que padding seja incluído no tamanho total */
}

/* Estilos para o botão de fechar */
.close-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos do formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Faz os inputs ocuparem toda a largura do modal */
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #1c1d1c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Ajustes para telas menores (smartphones) */
@media (max-width: 600px) {
    .modal-content {
        max-width: 100%; /* Ocupa toda a largura disponível em telas menores */
        padding: 15px; /* Reduz o padding para caber melhor */
        border-radius: 5px; /* Reduz o arredondamento */
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="date"] {
        font-size: 14px; /* Reduz o tamanho da fonte dos inputs em telas menores */
        padding: 8px; /* Reduz o padding dos inputs */
    }

    button[type="submit"] {
        padding: 10px; /* Mantém o tamanho do botão consistente */
        font-size: 14px; /* Reduz o tamanho da fonte do botão */
    }
}


        /* Estilos da Janela */
        .janela {
            display: none; /* Oculta a janela por padrão */
            position: fixed; /* Fixa a janela na tela */
            z-index: 1000; /* Garante que a janela fique acima de outros elementos */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; /* Adiciona rolagem se necessário */
            background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
        }

        .janela-content {
            background-color: #fff;
            margin: 15% auto; /* Centraliza a janela na tela */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Largura da janela */
            display: flex; /* Usa flexbox para alinhar imagem e texto */
            align-items: center; /* Alinha verticalmente */
        }

        .janela img {
            max-width: 150px; /* Largura máxima da imagem */
            margin-right: 20px; /* Espaço entre imagem e texto */
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
/* css original */

.esSgGS{
background-color:#ffffffff;
color:#004d8eff;
border:2px solid #4d90c8ff;
padding:0.5rem 1rem;
font-size:1rem;
line-height:1.5rem;
font-weight:400;
position:absolute;
left:-62.4375rem;
top:auto;
overflow:hidden;
height:0.0625rem;
z-index:-999;
outline:none;
font-family:Arial,sans-serif !important;
}
/*!sc*/
.esSgGS:focus,.esSgGS:active{
left:0rem;
top:0rem;
height:auto;
overflow:auto;
z-index:9999;
}
/*!sc*/
@media (min-width:600px){
.esSgGS{
    font-size:1.25rem;
    line-height:1.875rem;
    font-weight:400;
    padding:0.625rem 1.625rem;
}
.esSgGS:focus,.esSgGS:active{
    left:3.75rem;
    top:1.875rem;
}
}
/*!sc*/
data-styled.g1[id="sc-bdfBQB"]{
content:"esSgGS,"
}
/*!sc*/
.lcdpEd{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
gap:2px;
}
/*!sc*/
data-styled.g95[id="sc-euMpEg"]{
content:"lcdpEd,"
}
/*!sc*/
.jcryDv{
width:100%;
display:grid;
margin-left:auto;
margin-right:auto;
box-sizing:border-box;
background-color:transparent;
padding-left:1rem;
padding-right:1rem;
}
/*!sc*/
@media (min-width:600px){
.jcryDv{
    padding-left:1rem;
    padding-right:1rem;
}
}
/*!sc*/
@media (min-width:1024px){
.jcryDv{
    max-width:calc( 2rem + 76rem + 2rem );
    padding-left:2rem;
    padding-right:2rem;
}
}
/*!sc*/
@media (min-width:1441px){
.jcryDv{
    max-width:calc( 2rem + 94rem + 2rem );
    padding-left:2rem;
    padding-right:2rem;
}
}
/*!sc*/
.ibZDqh{
width:100%;
display:grid;
margin-left:auto;
margin-right:auto;
box-sizing:border-box;
background-color:#F17A28;
padding-left:1rem;
padding-right:1rem;
}
/*!sc*/
@media (min-width:600px){
.ibZDqh{
    padding-left:1rem;
    padding-right:1rem;
}
}
/*!sc*/
@media (min-width:1024px){
.ibZDqh{
    max-width:calc( 2rem + 76rem + 2rem );
    padding-left:2rem;
    padding-right:2rem;
}
}
/*!sc*/
@media (min-width:1441px){
.ibZDqh{
    max-width:calc( 2rem + 94rem + 2rem );
    padding-left:2rem;
    padding-right:2rem;
}
}
/*!sc*/
.kKxJaP{
width:100%;
display:grid;
margin-left:auto;
margin-right:auto;
box-sizing:border-box;
background-color:transparent;
padding-left:1rem;
padding-right:0;
}
/*!sc*/
@media (min-width:600px){
.kKxJaP{
    padding-left:1rem;
    padding-right:0;
}
}
/*!sc*/
@media (min-width:1024px){
.kKxJaP{
    max-width:calc( 2rem + 76rem + 2rem );
    padding-left:2rem;
    padding-right:2rem;
}
}
/*!sc*/
@media (min-width:1441px){
.kKxJaP{
    max-width:calc( 2rem + 94rem + 2rem );
    padding-left:2rem;
    padding-right:2rem;
}
}
/*!sc*/
data-styled.g100[id="sc-ikPAEB"]{
content:"jcryDv,ibZDqh,kKxJaP,"
}
/*!sc*/
.fVgUxS{
display:grid;
width:100%;
grid-template-columns:repeat(4,1fr);
gap:0.5rem;
}
/*!sc*/
@media (min-width:600px){
.fVgUxS{
    grid-template-columns:repeat(6,1fr);
    gap:1rem;
}
}
/*!sc*/
@media (min-width:1024px){
.fVgUxS{
    grid-template-columns:repeat(12,1fr);
    gap:2rem;
}
}
/*!sc*/
data-styled.g101[id="sc-tYqdw"]{
content:"fVgUxS,"
}
/*!sc*/
.jgfagd{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:start;
-webkit-justify-content:flex-start;
-ms-flex-pack:start;
justify-content:flex-start;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
grid-column:span 4;
-webkit-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}
/*!sc*/
@media (min-width:600px){
.jgfagd{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    grid-column:span 6;
}
}
/*!sc*/
@media (min-width:1024px){
.jgfagd{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    grid-column:span 8;
}
}
/*!sc*/
@media (min-width:1441px){
.jgfagd{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    grid-column:span 8;
}
}
/*!sc*/
.iNVqpV{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:justify;
-webkit-justify-content:space-between;
-ms-flex-pack:justify;
justify-content:space-between;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
grid-column:span 4;
-webkit-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}
/*!sc*/
@media (min-width:600px){
.iNVqpV{
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    grid-column:span 6;
}
}
/*!sc*/
@media (min-width:1024px){
.iNVqpV{
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    grid-column:span 4;
}
}
/*!sc*/
@media (min-width:1441px){
.iNVqpV{
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    grid-column:span 4;
}
}
/*!sc*/
.bBkcIq{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:start;
-webkit-justify-content:flex-start;
-ms-flex-pack:start;
justify-content:flex-start;
-webkit-align-items:flex-start;
-webkit-box-align:flex-start;
-ms-flex-align:flex-start;
align-items:flex-start;
grid-column:span 2;
-webkit-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}
/*!sc*/
@media (min-width:600px){
.bBkcIq{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-items:flex-start;
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start;
    grid-column:span 3;
}
}
/*!sc*/
@media (min-width:1024px){
.bBkcIq{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-items:flex-start;
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start;
    grid-column:span 6;
}
}
/*!sc*/
@media (min-width:1441px){
.bBkcIq{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-items:flex-start;
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start;
    grid-column:span 6;
}
}
/*!sc*/
.bbJEPe{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:end;
-webkit-justify-content:flex-end;
-ms-flex-pack:end;
justify-content:flex-end;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
grid-column:span 2;
-webkit-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}
/*!sc*/
@media (min-width:600px){
.bbJEPe{
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    grid-column:span 3;
}
}
/*!sc*/
@media (min-width:1024px){
.bbJEPe{
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    grid-column:span 6;
}
}
/*!sc*/
@media (min-width:1441px){
.bbJEPe{
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    grid-column:span 6;
}
}
/*!sc*/
.biRewJ{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:start;
-webkit-justify-content:flex-start;
-ms-flex-pack:start;
justify-content:flex-start;
-webkit-align-items:flex-start;
-webkit-box-align:flex-start;
-ms-flex-align:flex-start;
align-items:flex-start;
grid-column:span 4;
-webkit-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}
/*!sc*/
@media (min-width:600px){
.biRewJ{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-items:flex-start;
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start;
    grid-column:span 6;
}
}
/*!sc*/
@media (min-width:1024px){
.biRewJ{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-items:flex-start;
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start;
    grid-column:span 12;
}
}
/*!sc*/
@media (min-width:1441px){
.biRewJ{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-items:flex-start;
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start;
    grid-column:span 12;
}
}
/*!sc*/
data-styled.g102[id="sc-biBsmb"]{
content:"jgfagd,iNVqpV,bBkcIq,bbJEPe,biRewJ,"
}
/*!sc*/
.jyxCxn{
position:absolute;
left:-100vh;
top:auto;
width:1px;
height:1px;
overflow:hidden;
-webkit-clip:rect(0,0,0,0);
clip:rect(0,0,0,0);
white-space:nowrap;
}
/*!sc*/
data-styled.g103[id="sc-eHfRjS"]{
content:"jyxCxn,"
}
/*!sc*/
.gysbLO{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
border-radius:50%;
height:36px;
width:36px;
border:3px solid;
border-color:#42464dff;
}
/*!sc*/
.gysbLO img{
width:100%;
}
/*!sc*/
data-styled.g127[id="sc-41fcb449-0"]{
content:"gysbLO,"
}
/*!sc*/
.bKPNwK{
cursor:pointer;
background-color:transparent;
}
/*!sc*/
data-styled.g129[id="sc-9a86d81f-0"]{
content:"bKPNwK,"
}
/*!sc*/
.lDEnl{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
}
/*!sc*/
.lDEnl:focus-within .DropdownSearchbar{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
}
/*!sc*/
data-styled.g142[id="sc-dd558cc4-0"]{
content:"lDEnl,"
}
/*!sc*/
.kQxFP{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
position:relative;
z-index:1;
}
/*!sc*/
.kQxFP > input{
font-size:0.875rem;
line-height:1.3125rem;
position:relative;
width:100%;
height:2.25rem;
padding:0.75rem 1rem;
background:#ffffffff;
color:#42464dff;
border-radius:0.25rem;
z-index:1;
}
/*!sc*/
.kQxFP > input::-webkit-input-placeholder{
font-size:0.875rem;
line-height:1.5rem;
font-weight:400;
color:#7f858dff;
}
/*!sc*/
.kQxFP > input::-moz-placeholder{
font-size:0.875rem;
line-height:1.5rem;
font-weight:400;
color:#7f858dff;
}
/*!sc*/
.kQxFP > input:-ms-input-placeholder{
font-size:0.875rem;
line-height:1.5rem;
font-weight:400;
color:#7f858dff;
}
/*!sc*/
.kQxFP > input::placeholder{
font-size:0.875rem;
line-height:1.5rem;
font-weight:400;
color:#7f858dff;
}
/*!sc*/
data-styled.g143[id="sc-dd558cc4-1"]{
content:"kQxFP,"
}
/*!sc*/
.kqYqtb{
cursor:pointer;
background-color:transparent;
position:absolute;
z-index:2;
}
/*!sc*/
.kqYqtb::before{
content:'';
position:absolute;
left:1rem;
top:0.375rem;
height:1.5rem;
width:0.625rem;
background:#ffffffff;
}
/*!sc*/
.kqYqtb > svg{
position:absolute;
z-index:2;
top:2px;
left:0;
height:auto;
}
/*!sc*/
data-styled.g144[id="sc-dd558cc4-2"]{
content:"kqYqtb,"
}
/*!sc*/
.hyRGfl{
display:none;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
background-color:#ffffffff;
position:absolute;
left:0;
z-index:9999;
}
/*!sc*/
.hyRGfl:hover{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
}
/*!sc*/
data-styled.g145[id="sc-dd558cc4-3"]{
content:"hyRGfl,"
}
/*!sc*/
.hbhkEK{
width:calc(100% - 3rem);
z-index:10;
}
/*!sc*/
data-styled.g152[id="sc-1d7a6c98-1"]{
content:"hbhkEK,"
}
/*!sc*/
.bmNiyT{
width:6rem;
height:2.75rem;
top:-6px;
right:-80px;
z-index:99999;
}
/*!sc*/
data-styled.g153[id="sc-1d7a6c98-2"]{
content:"bmNiyT,"
}
/*!sc*/
.comXob{
top:2.5rem;
width:calc(100% - 1rem);
z-index:99999;
}
/*!sc*/
data-styled.g154[id="sc-1d7a6c98-3"]{
content:"comXob,"
}
/*!sc*/
.bmvjgM{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
position:relative;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
max-width:100vw;
}
/*!sc*/
.bmvjgM *{
min-height:auto;
min-width:auto;
}
/*!sc*/
.bmvjgM .MuiBadge-root{
display:inline-grid;
}
/*!sc*/
data-styled.g161[id="sc-61d5583e-0"]{
content:"bmvjgM,"
}
/*!sc*/
.dqaGog{
position:relative;
z-index:9998;
width:100%;
background:#0e1116ff;
}
/*!sc*/
data-styled.g162[id="sc-61d5583e-1"]{
content:"dqaGog,"
}
/*!sc*/
.bsVeRm{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
gap:1.5rem;
}
/*!sc*/
@media (min-width:1024px){
.bsVeRm{
    gap:1rem;
}
}
/*!sc*/
@media (min-width:1441px){
.bsVeRm{
    gap:1.5rem;
}
}
/*!sc*/
data-styled.g163[id="sc-61d5583e-2"]{
content:"bsVeRm,"
}
/*!sc*/
.bxYmBc{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
cursor:pointer;
width:2.25rem;
height:2.25rem;
}
/*!sc*/
data-styled.g164[id="sc-61d5583e-3"]{
content:"bxYmBc,"
}
/*!sc*/
.ePkFTw{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
}
/*!sc*/
data-styled.g165[id="sc-61d5583e-4"]{
content:"ePkFTw,"
}
/*!sc*/
.dzBCLF{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
box-sizing:border-box;
min-width:2rem;
min-height:2.0625rem;
}
/*!sc*/
@media (min-width:1024px){
.dzBCLF{
    min-width:13.75rem;
    min-height:5.5rem;
}
}
/*!sc*/
data-styled.g166[id="sc-61d5583e-5"]{
content:"dzBCLF,"
}
/*!sc*/
.bRpCaj{
cursor:pointer;
}
/*!sc*/
data-styled.g167[id="sc-61d5583e-6"]{
content:"bRpCaj,"
}
/*!sc*/
.eRICHy{
width:100%;
position:relative;
z-index:999;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
background-color:#ff6500ff;
}
/*!sc*/
data-styled.g168[id="sc-e3c85610-0"]{
content:"eRICHy,"
}
/*!sc*/
.dswuUn{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:start;
-webkit-justify-content:start;
-ms-flex-pack:start;
justify-content:start;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
height:2rem;
}
/*!sc*/
.dswuUn:after{
content:'';
background-color:#ff6500;
position:absolute;
height:100%;
left:100%;
z-index:1;
}
/*!sc*/
data-styled.g169[id="sc-e3c85610-1"]{
content:"dswuUn,"
}
/*!sc*/
.cNNSHG{
width:11.5rem;
height:100%;
background-color:#e35214ff;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:start;
-webkit-justify-content:flex-start;
-ms-flex-pack:start;
justify-content:flex-start;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
gap:1rem;
padding:0 1rem;
cursor:pointer;
}
/*!sc*/
.cNNSHG span{
font-size:0.875rem;
line-height:1.125rem;
font-weight:700;
color:#ffffffff;
}
/*!sc*/
.cNNSHG svg{
-webkit-transition:all 0.4s ease;
transition:all 0.4s ease;
-webkit-transform:rotate(180deg);
-ms-transform:rotate(180deg);
transform:rotate(180deg);
}
/*!sc*/
data-styled.g170[id="sc-e3c85610-2"]{
content:"cNNSHG,"
}
/*!sc*/
.fJYp{
overflow:hidden;
}
/*!sc*/
@media (min-width:1024px){
.fJYp{
    overflow:visible;
}
}
/*!sc*/
data-styled.g195[id="sc-2963d6b5-0"]{
content:"fJYp,"
}
/*!sc*/
.eKKayF{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-shrink:0;
-ms-flex-negative:0;
flex-shrink:0;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-flex:1;
-webkit-flex-grow:1;
-ms-flex-positive:1;
flex-grow:1;
max-width:-webkit-max-content;
max-width:-moz-max-content;
max-width:max-content;
}
/*!sc*/
data-styled.g196[id="sc-2963d6b5-1"]{
content:"eKKayF,"
}
/*!sc*/
.iGrNPx{
padding:0.5rem 0;
}
/*!sc*/
data-styled.g197[id="sc-2963d6b5-2"]{
content:"iGrNPx,"
}
/*!sc*/
.ggYdAc{
-webkit-flex:1;
-ms-flex:1;
flex:1;
width:100%;
}
/*!sc*/
data-styled.g198[id="sc-2963d6b5-3"]{
content:"ggYdAc,"
}
/*!sc*/
.ivdXzG{
margin:0 2rem;
}
/*!sc*/
data-styled.g199[id="sc-2963d6b5-4"]{
content:"ivdXzG,"
}
/*!sc*/
.nlmfp{
overflow:hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-line-clamp:3;
-webkit-box-orient:vertical;
word-break:break-word;
max-height:3.375rem;
}
/*!sc*/
data-styled.g210[id="sc-d79c9c3f-0"]{
content:"nlmfp,"
}
/*!sc*/
.cyaZeV{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
}
/*!sc*/
@media (min-width:1024px){
.cyaZeV{
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end;
}
}
/*!sc*/
data-styled.g213[id="sc-f0125ddc-0"]{
content:"cyaZeV,"
}
/*!sc*/
.gTLQsi{
font-size:0.75rem;
line-height:1rem;
font-weight:700;
text-transform:uppercase;
-webkit-text-decoration:none;
text-decoration:none;
margin-top:0.625rem;
color:#ff6500ff;
cursor:pointer;
z-index:2;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
}
/*!sc*/
.gTLQsi svg{
margin-left:10px;
}
/*!sc*/
@media (min-width:1024px){
.gTLQsi{
    font-size:0.875rem;
    line-height:1.5rem;
    font-weight:700;
}
}
/*!sc*/
data-styled.g214[id="sc-f0125ddc-1"]{
content:"gTLQsi,"
}
/*!sc*/
.hvPkKF{
width:1rem;
height:1rem;
background:transparent;
border:0.125rem solid #ffffff55;
border-top-color:#ffffff;
border-radius:50%;
-webkit-animation:kAMsZL 0.6s linear infinite;
animation:kAMsZL 0.6s linear infinite;
}
/*!sc*/
data-styled.g215[id="sc-53f4d32e-0"]{
content:"hvPkKF,"
}
/*!sc*/
.kVqYlC{
width:16px !important;
height:16px;
}
/*!sc*/
data-styled.g217[id="sc-eaf84357-1"]{
content:"kVqYlC,"
}
/*!sc*/
.hhBzvE{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
height:100%;
width:100%;
background:#ffffffff;
box-shadow:inset 0 0 0 1px #ff6500ff;
border-radius:0.25rem;
overflow:hidden;
}
/*!sc*/
data-styled.g220[id="sc-895a4546-1"]{
content:"hhBzvE,"
}
/*!sc*/
.kFGivJ{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-flex-shrink:0;
-ms-flex-negative:0;
flex-shrink:0;
height:100%;
background:#0e1116ff;
width:3.5rem;
}
/*!sc*/
.bkKYFQ{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-flex-shrink:0;
-ms-flex-negative:0;
flex-shrink:0;
height:100%;
background:#ff6500ff;
width:3.5rem;
}
/*!sc*/
data-styled.g221[id="sc-895a4546-2"]{
content:"kFGivJ,bkKYFQ,"
}
/*!sc*/
.fKJVe{
font-size:0.625rem;
line-height:0.875rem;
font-weight:400;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
height:100%;
width:100%;
background:transparent;
color:#ffffffff;
background:#0e1116ff;
background:linear-gradient(46.73deg,#101010 -22.68%,#1D1D1D 68.08%,#A1A1A1 122.53%);
}
/*!sc*/
.fKJVe div span{
font-size:0.875rem;
line-height:0.875rem;
font-weight:700;
color:#ffffffff;
}
/*!sc*/
.eNSegy{
font-size:0.625rem;
line-height:0.875rem;
font-weight:400;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
height:100%;
width:100%;
background:transparent;
color:#ff6500ff;
}
/*!sc*/
.eNSegy div span{
font-size:0.875rem;
line-height:0.875rem;
font-weight:700;
color:#ff6500ff;
}
/*!sc*/
data-styled.g222[id="sc-895a4546-3"]{
content:"fKJVe,eNSegy,"
}
/*!sc*/
.cMehYO{
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
height:2.25rem;
width:100%;
}
/*!sc*/
.cMehYO button{
border-radius:0.25rem;
}
/*!sc*/
data-styled.g223[id="sc-895a4546-4"]{
content:"cMehYO,"
}
/*!sc*/
.fHounJ{
display:none;
height:2.375rem;
}
/*!sc*/
data-styled.g224[id="sc-895a4546-5"]{
content:"fHounJ,"
}
/*!sc*/
.fHjUyK{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
height:2.375rem;
}
/*!sc*/
data-styled.g225[id="sc-895a4546-6"]{
content:"fHjUyK,"
}
/*!sc*/
.bVNqvx{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex:1;
-ms-flex:1;
flex:1;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
height:2.375rem;
border:1px solid #0e1116ff;
color:#0e1116ff;
border-radius:0.25rem;
text-transform:uppercase;
font-size:0.75rem;
line-height:1rem;
font-weight:600;
cursor:default;
}
/*!sc*/
.cLWXYJ{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex:1;
-ms-flex:1;
flex:1;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
height:2.375rem;
border:1px solid #ff6500ff;
color:#ff6500ff;
border-radius:0.25rem;
text-transform:uppercase;
font-size:0.75rem;
line-height:1rem;
font-weight:600;
cursor:default;
}
/*!sc*/
data-styled.g229[id="sc-895a4546-10"]{
content:"bVNqvx,cLWXYJ,"
}
/*!sc*/
.enIiDq{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
padding-top:1rem;
padding-bottom:0.75rem;
gap:0.25rem;
}
/*!sc*/
.enIiDq > span{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
}
/*!sc*/
@media (min-width:1024px){
.enIiDq{
    padding:1rem 0;
}
}
/*!sc*/
data-styled.g230[id="sc-c09df629-0"]{
content:"enIiDq,"
}
/*!sc*/
.ikEnhM{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
gap:0.5rem;
width:100%;
}
/*!sc*/
data-styled.g238[id="sc-22b50df5-0"]{
content:"ikEnhM,"
}
/*!sc*/
.GIjkO{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:justify;
-webkit-justify-content:space-between;
-ms-flex-pack:justify;
justify-content:space-between;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
gap:0.25rem;
text-transform:uppercase;
color:#565c69ff;
font-size:0.625rem;
line-height:1rem;
}
/*!sc*/
.GIjkO svg{
height:0.75rem;
}
/*!sc*/
.GIjkO svg *{
height:0.75rem;
}
/*!sc*/
data-styled.g239[id="sc-22b50df5-1"]{
content:"GIjkO,"
}
/*!sc*/
.bAVqvA{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
background:transparent;
}
/*!sc*/
.bAVqvA path{
fill:#b6bbc2ff;
}
/*!sc*/
data-styled.g241[id="sc-50d5e82e-0"]{
content:"bAVqvA,"
}
/*!sc*/
.cJhdwU{
width:100%;
position:relative;
}
/*!sc*/
data-styled.g245[id="sc-947d78b-2"]{
content:"cJhdwU,"
}
/*!sc*/
.dRkceU{
position:relative;
}
/*!sc*/
.dRkceU .productCard{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
width:18.125rem;
}
/*!sc*/
.dRkceU .swiper{
position:relative;
padding:0.75rem 0;
}
/*!sc*/
.dRkceU .swiper-slide{
width:-webkit-fit-content;
width:-moz-fit-content;
width:fit-content;
}
/*!sc*/
.dRkceU .swiper-back,.dRkceU .swiper-forward{
background:transparent;
position:absolute;
display:none;
}
/*!sc*/
.dRkceU .swiper-back.swiper-button-lock,.dRkceU .swiper-forward.swiper-button-lock{
display:none;
}
/*!sc*/
.dRkceU .linkListagemProdutos{
margin-top:0px;
}
/*!sc*/
.dRkceU .linkFooter{
margin-top:1rem;
}
/*!sc*/
.dRkceU .linkFooterCarousel{
margin-right:0.875rem;
}
/*!sc*/
@media (min-width:1024px){
.dRkceU .linkFooterCarousel{
    margin-right:0px;
}
.dRkceU .swiper-back,.dRkceU .swiper-forward{
    display:block;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    z-index:2;
}
.dRkceU .swiper-forward{
    right:-2.25rem;
}
.dRkceU .swiper-back{
    left:-2.25rem;
}
.dRkceU .productCard{
    width:16.75rem;
}
}
/*!sc*/
@media (min-width:1441px){
.dRkceU .swiper-forward{
    right:-3rem;
}
.dRkceU .swiper-back{
    left:-3rem;
}
}
/*!sc*/
data-styled.g246[id="sc-947d78b-3"]{
content:"dRkceU,"
}
/*!sc*/
.dIPMqU{
height:2.875rem;
background:#0e1116ff;
}
/*!sc*/
@media (min-width:1024px){
.dIPMqU{
    height:4.25rem;
}
}
/*!sc*/
data-styled.g248[id="sc-79532bbc-0"]{
content:"dIPMqU,"
}
/*!sc*/
#__next,#font-container{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
-webkit-box-pack:justify;
-webkit-justify-content:space-between;
-ms-flex-pack:justify;
justify-content:space-between;
min-height:100vh;
}
/*!sc*/
body,html{
padding:0px !important;
-webkit-scroll-behavior:smooth;
-moz-scroll-behavior:smooth;
-ms-scroll-behavior:smooth;
scroll-behavior:smooth;
}
/*!sc*/
body input::-webkit-outer-spin-button,html input::-webkit-outer-spin-button,body input::-webkit-inner-spin-button,html input::-webkit-inner-spin-button{
-webkit-appearance:none;
margin:0;
}
/*!sc*/
body input[type=number],html input[type=number]{
-moz-appearance:textfield;
}
/*!sc*/
main{
-webkit-transition:all 250ms linear;
transition:all 250ms linear;
}
/*!sc*/
:root{
--background-principal:#F2F3F4;
--text-grey:#42464D;
--text-grey-mid:#565C69;
--text-grey-weak:#7F858D;
--filter-text:#3F3B3B;
--orange-strong:#E35214;
--orange-text:#FC6B0F;
--orange-weak:#FF6500;
--white:#FFFFFF;
--white-weak:#F5F5F5;
--blue:#0060b1;
--green:#2DC26E;
--green-text:#1F9050;
--red:#E72626;
--grey-trash-icon:#B6BBC2;
--grey-line:#DEE0E4;
}
/*!sc*/
body{
background:var(--background-principal);
}
/*!sc*/
button,a{
cursor:pointer;
}
/*!sc*/
*{
margin:0;
padding:0;
border:none;
list-style:none;
box-sizing:border-box;
font-family:inherit;
font-size:16px;
}
/*!sc*/
#seloEconfy img.compreConfieImg{
height:60px !important;
width:57px !important;
}
/*!sc*/
.svelte-1tbswcw{
font-size:12px;
}
/*!sc*/
.ReactModal__Overlay--after-open{
z-index:9999 !important;
}
/*!sc*/
.btn-loading{
position:relative;
}
/*!sc*/
.btn-loading:before{
content:"";
width:22px;
height:22px;
background:transparent;
border:2px solid #ffffff55;
border-top-color:#fff;
border-radius:50%;
margin-right:0.5rem;
-webkit-animation:spin 0.6s linear infinite;
animation:spin 0.6s linear infinite;
}
/*!sc*/
.btn-loading.btn-sh:disabled{
cursor:not-allowed;
}
/*!sc*/
.btn-loading svg{
display:none;
}
/*!sc*/
data-styled.g252[id="sc-global-krxodh1"]{
content:"sc-global-krxodh1,"
}
/*!sc*/
.duptZr{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-align-items:flex-start;
-webkit-box-align:flex-start;
-ms-flex-align:flex-start;
align-items:flex-start;
-webkit-box-flex:1;
-webkit-flex-grow:1;
-ms-flex-positive:1;
flex-grow:1;
max-width:8.125rem;
margin-left:0.375rem;
position:relative;
}
/*!sc*/
.duptZr > span{
font-size:0.75rem;
line-height:1.125rem;
color:rgba(255,255,255,0.8);
}
/*!sc*/
data-styled.g253[id="sc-1db79bf8-0"]{
content:"duptZr,"
}
/*!sc*/
.ctghkP{
width:85%;
line-height:1rem;
}
/*!sc*/
data-styled.g258[id="sc-1db79bf8-5"]{
content:"ctghkP,"
}
/*!sc*/
.iBaCxe{
background:transparent;
cursor:pointer;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
width:2.25rem;
height:2.25rem;
}
/*!sc*/
data-styled.g278[id="sc-37a1c5ac-0"]{
content:"iBaCxe,"
}
/*!sc*/
.iPXTNu{
cursor:unset;
background:transparent;
text-align:inherit;
}
/*!sc*/
data-styled.g286[id="sc-bedfc3c7-1"]{
content:"iPXTNu,"
}
/*!sc*/
.hLEhJe{
overflow:hidden;
position:relative;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
width:100%;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
height:29.625rem;
background:#ffffffff;
border-radius:0.25rem;
-webkit-transition:box-shadow 200ms ease;
transition:box-shadow 200ms ease;
}
/*!sc*/
.hLEhJe img{
object-fit:contain;
}
/*!sc*/
.hLEhJe:hover .sc-27518a44-0{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
}
/*!sc*/
.hLEhJe:hover .sc-27518a44-1{
display:none;
}
/*!sc*/
.hLEhJe:hover .sc-895a4546-5{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
}
/*!sc*/
.hLEhJe:hover .sc-895a4546-6{
display:none;
}
/*!sc*/
.hLEhJe:hover .sc-27518a44-2{
-webkit-transform:translateX(0);
-ms-transform:translateX(0);
transform:translateX(0);
}
/*!sc*/
data-styled.g291[id="sc-27518a44-3"]{
content:"hLEhJe,"
}
/*!sc*/
.fEDjsz{
position:relative;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
padding:0.5rem 0 0;
-webkit-text-decoration:none;
text-decoration:none;
width:100%;
overflow:hidden;
}
/*!sc*/
.fEDjsz img{
display:none;
}
/*!sc*/
.fEDjsz img{
height:10.125rem;
width:auto;
max-width:100%;
}
/*!sc*/
@media (min-width:600px){
.fEDjsz img{
    padding:0 0.5rem;
}
}
/*!sc*/
@media (min-width:1024px){
.fEDjsz img{
    padding:0;
}
}
/*!sc*/
data-styled.g292[id="sc-27518a44-4"]{
content:"fEDjsz,"
}
/*!sc*/
.iaZYUh{
padding:0 0.5rem;
}
/*!sc*/
.iaZYUh > button{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
}
/*!sc*/
data-styled.g293[id="sc-27518a44-5"]{
content:"iaZYUh,"
}
/*!sc*/
.dsdRWH{
width:100%;
}
/*!sc*/
data-styled.g296[id="sc-27518a44-8"]{
content:"dsdRWH,"
}
/*!sc*/
.iJKRqI{
font-size:0.875rem;
line-height:1.25rem;
font-weight:600;
margin-top:0.5rem;
color:#42464dff;
min-height:3.75rem;
}
/*!sc*/
data-styled.g297[id="sc-27518a44-9"]{
content:"iJKRqI,"
}
/*!sc*/
.iuMyVp{
width:100%;
margin-top:auto;
padding:0.5rem;
}
/*!sc*/
data-styled.g298[id="sc-27518a44-10"]{
content:"iuMyVp,"
}
/*!sc*/
.kcYorq{
margin:1rem 0px;
}
/*!sc*/
.kcYorq span{
border-radius:0.25rem;
box-shadow:0px 4px 4px rgba(0,0,0,0.25);
}
/*!sc*/
data-styled.g304[id="sc-4e05b69e-0"]{
content:"kcYorq,"
}
/*!sc*/
.eKuofw{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-flex:1;
-ms-flex:1;
flex:1;
-webkit-box-flex:0;
-webkit-flex-grow:0;
-ms-flex-positive:0;
flex-grow:0;
-webkit-flex-basis:15.625rem;
-ms-flex-preferred-size:15.625rem;
flex-basis:15.625rem;
gap:0.3125rem;
}
/*!sc*/
@media (min-width:600px){
.eKuofw{
    -webkit-flex-basis:21.875rem;
    -ms-flex-preferred-size:21.875rem;
    flex-basis:21.875rem;
}
}
/*!sc*/
.eKuofw.eKuofw.eKuofw button:focus-visible{
outline:auto -webkit-focus-ring-color;
}
/*!sc*/
.eKuofw li.slick-active button{
position:relative;
overflow:hidden;
}
/*!sc*/
.eKuofw li.slick-active button::before{
content:'';
background-color:#ff6500ff;
width:0%;
height:100%;
-webkit-animation-name:none;
animation-name:none;
-webkit-animation-play-state:paused;
animation-play-state:paused;
-webkit-animation-timing-function:linear;
animation-timing-function:linear;
-webkit-animation-duration:7000ms;
animation-duration:7000ms;
}
/*!sc*/
@-webkit-keyframes loadNextBanner{
from{
    width:0%;
}
to{
    width:100%;
}
}
/*!sc*/
@keyframes loadNextBanner{
from{
    width:0%;
}
to{
    width:100%;
}
}
/*!sc*/
.eKuofw li{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex:1;
-ms-flex:1;
flex:1;
-webkit-flex-basis:1.25rem;
-ms-flex-preferred-size:1.25rem;
flex-basis:1.25rem;
-webkit-box-flex:0;
-webkit-flex-grow:0;
-ms-flex-positive:0;
flex-grow:0;
width:auto;
height:auto;
margin:0;
}
/*!sc*/
@media (min-width:600px){
.eKuofw li{
    -webkit-flex-basis:1.875rem;
    -ms-flex-preferred-size:1.875rem;
    flex-basis:1.875rem;
}
}
/*!sc*/
.eKuofw li button{
width:100%;
height:0.375rem;
background-color:#ffffffff;
border-radius:0.25rem;
padding:0;
}
/*!sc*/
.eKuofw li button::before{
content:none;
}
/*!sc*/
data-styled.g307[id="sc-b38521f-0"]{
content:"eKuofw,"
}
/*!sc*/
.fSFoaM{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
}
/*!sc*/
data-styled.g308[id="sc-b38521f-1"]{
content:"fSFoaM,"
}
/*!sc*/
.vPoCq{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
width:1.5rem;
height:1.5rem;
z-index:1;
background-color:#ffffffff;
border-radius:100%;
font-size:0.75rem;
line-height:1.125rem;
}
/*!sc*/
@media (min-width:1024px){
.vPoCq{
    width:2rem;
    height:2rem;
    font-size:1rem;
    line-height:1.5rem;
}
}
/*!sc*/
.vPoCq .IconArrowDownChevron{
-webkit-transform:translateX(0.125rem) rotate(-90deg);
-ms-transform:translateX(0.125rem) rotate(-90deg);
transform:translateX(0.125rem) rotate(-90deg);
}
/*!sc*/
data-styled.g309[id="sc-b38521f-2"]{
content:"vPoCq,"
}
/*!sc*/
.VONfy{
width:100%;
background-color:#162E5B;
}
/*!sc*/
data-styled.g310[id="sc-63ff0248-0"]{
content:"VONfy,"
}
/*!sc*/
.ePxMWW{
width:100%;
overflow-x:hidden;
}
/*!sc*/
.ePxMWW .slick-slide{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
width:100%;
height:auto;
}
/*!sc*/
.ePxMWW .slick-slide > div{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
width:100%;
height:auto;
}
/*!sc*/
.ePxMWW .slick-vertical{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
-webkit-box-pack:justify;
-webkit-justify-content:space-between;
-ms-flex-pack:justify;
justify-content:space-between;
}
/*!sc*/
.ePxMWW .slick-list{
overflow:hidden;
margin:0;
}
/*!sc*/
.ePxMWW .slick-track{
height:auto !important;
}
/*!sc*/
.ePxMWW img{
width:100%;
}
/*!sc*/
.ePxMWW .slick-dots{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
bottom:1rem;
}
/*!sc*/
@media (min-width:1024px){
.ePxMWW .slick-dots{
    bottom:1.5rem;
}
}
/*!sc*/
.ePxMWW .slick-arrow{
top:50%;
z-index:1;
width:2rem;
height:2rem;
background-color:#ffffffff;
border-radius:100%;
}
/*!sc*/
.ePxMWW .slick-arrow:focus-visible{
outline:auto -webkit-focus-ring-color;
}
/*!sc*/
.ePxMWW .slick-arrow::before{
content:none;
}
/*!sc*/
.ePxMWW .slick-arrow.slick-prev{
left:2rem;
}
/*!sc*/
.ePxMWW .slick-arrow.slick-next{
right:2rem;
}
/*!sc*/
data-styled.g311[id="sc-63ff0248-1"]{
content:"ePxMWW,"
}
/*!sc*/
.kxUQZh{
padding-top:1rem;
padding-bottom:1rem;
}
/*!sc*/
@media (max-width:1024px){
.kxUQZh{
    padding-left:0.5rem;
    padding-right:0.5rem;
}
}
/*!sc*/
.kxUQZh svg{
width:14px;
margin-right:0.25rem;
}
/*!sc*/
@media (min-width:1024px){
.kxUQZh svg{
    width:20px;
    margin-right:0.5rem;
}
}
/*!sc*/
.kxUQZh .countdownOffer{
font-size:0.875rem;
line-height:1.5rem;
font-weight:800;
text-transform:uppercase;
min-width:0;
}
/*!sc*/
@media (min-width:1024px){
.kxUQZh .countdownOffer{
    font-size:1.5rem;
    line-height:2.125rem;
    font-weight:800;
    text-transform:uppercase;
}
}
/*!sc*/
data-styled.g312[id="sc-79b14332-0"]{
content:"kxUQZh,"
}
/*!sc*/
.gkxgvZ{
font-size:0.875rem;
line-height:1.5rem;
font-weight:800;
text-transform:uppercase;
color:#FFFFFF;
}
/*!sc*/
@media (min-width:1024px){
.gkxgvZ{
    font-size:1.25rem;
    line-height:1.875rem;
    font-weight:800;
    text-transform:uppercase;
}
}
/*!sc*/
data-styled.g313[id="sc-79b14332-1"]{
content:"gkxgvZ,"
}
/*!sc*/
.cDrpz{
display:none;
}
/*!sc*/
@media (min-width:1024px){
.cDrpz{
    font-size:1rem;
    line-height:1.75rem;
    font-weight:700;
    color:#FFFFFF;
    display:block;
    margin-right:0.5rem;
}
}
/*!sc*/
data-styled.g314[id="sc-79b14332-2"]{
content:"cDrpz,"
}
/*!sc*/
.xHOCO{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
background-color:#000000;
background-repeat:no-repeat;
background-size:contain;
min-height:100vh;
}
/*!sc*/
data-styled.g315[id="sc-6a3e8bc-0"]{
content:"xHOCO,"
}
/*!sc*/
.cfPGuy{
background-color:#fafafbff !important;
padding-top:1.5rem;
}
/*!sc*/
.cfPGuy *{
min-width:0;
}
/*!sc*/
@media (min-width:1024px){
.cfPGuy .doublePadding{
    padding:0 2.5rem;
}
}
/*!sc*/
@media (min-width:1441px){
.cfPGuy .doublePadding{
    padding:0 3rem;
}
}
/*!sc*/
@media (min-width:600px){
.cfPGuy{
    padding-top:2rem;
}
}
/*!sc*/
data-styled.g316[id="sc-6a3e8bc-1"]{
content:"cfPGuy,"
}
/*!sc*/
.gpaIaN{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex:1;
-ms-flex:1;
flex:1;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column;
max-width:98rem;
-webkit-align-items:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
overflow-x:hidden;
}
/*!sc*/
@media (min-width:1441px){
.gpaIaN{
    margin:0 1rem;
}
}
/*!sc*/
data-styled.g317[id="sc-6a3e8bc-2"]{
content:"gpaIaN,"
}
/*!sc*/
.ddLejP{
width:100%;
}
/*!sc*/
data-styled.g319[id="sc-6a3e8bc-4"]{
content:"ddLejP,"
}
/*!sc*/
@-webkit-keyframes kAMsZL{
0%{
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
}
100%{
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
}
}
/*!sc*/
@keyframes kAMsZL{
0%{
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
}
100%{
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
}
}
/*!sc*/
data-styled.g540[id="sc-keyframes-kAMsZL"]{
content:"kAMsZL,"
}