body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.promocao{
    color: #ffffff;
   border-top: 1px #000 solid;
}

.bannerMemoria{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap; /* Para os cards se ajustarem em telas menores */
}

.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    margin: 15px;
    display: flex;
    flex-direction: column; /* Para o conteúdo ficar vertical */
    justify-content: space-between; /* Para o botão ficar no final */
    min-height: 400px; /* Define uma altura mínima para os cards */
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.preco-riscado {
    text-decoration: line-through;
    color: red;
}

.preco-atual {
    font-size: 1.5em;
    font-weight: bold;
    color: green;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cards ficam em uma coluna */
        align-items: center;
    }

    .card {
        width: 100%; /* Cards ocupam 100% da largura em telas pequenas */
        margin: 10px 0;
    }
}



.footerLoja{
    background: #000;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MODAL */
/* Estilos gerais para o modal */
.modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
    padding: 10px; /* Adiciona um pequeno padding nas laterais */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px; /* Largura máxima para telas maiores */
    width: 100%; /* Ocupa toda a largura disponível */
    box-sizing: border-box; /* Garante que padding seja incluído no tamanho total */
}

/* Estilos para o botão de fechar */
.close-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos do formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Faz os inputs ocuparem toda a largura do modal */
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #1c1d1c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Ajustes para telas menores (smartphones) */
@media (max-width: 600px) {
    .modal-content {
        max-width: 100%; /* Ocupa toda a largura disponível em telas menores */
        padding: 15px; /* Reduz o padding para caber melhor */
        border-radius: 5px; /* Reduz o arredondamento */
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="date"] {
        font-size: 14px; /* Reduz o tamanho da fonte dos inputs em telas menores */
        padding: 8px; /* Reduz o padding dos inputs */
    }

    button[type="submit"] {
        padding: 10px; /* Mantém o tamanho do botão consistente */
        font-size: 14px; /* Reduz o tamanho da fonte do botão */
    }
}
